In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import pickle

In [3]:
data = pd.read_csv('Revised_Customer_Details_3.csv')
data = data.iloc[:,1:]
data

,name,age,gender,cafe_location,product_name,purchase_date,ingredients
0,John Smith,28,Male,123 Main St,Cheese Danish,2023-05-23,"['Pastry dough', 'Cream cheese', 'Sugar', 'Van..."
1,John Smith,28,Male,123 Main St,Espresso,2023-05-23,['Espresso']
2,John Smith,28,Male,123 Main St,Cappuccino,2023-05-23,"['Espresso', 'Steamed milk', 'Foamed milk']"
3,John Smith,28,Male,123 Main St,Mocha Frappuccino,2023-05-23,"['Coffee', 'Ice', 'Milk', 'Chocolate syrup', '..."
4,Michael Brown,43,Male,456 Elm St,Espresso,2023-05-25,['Espresso']
...,...,...,...,...,...,...,...
68,Henry Lee,51,Male,123 Main St,Cappuccino,2023-05-23,"['Espresso', 'Steamed milk', 'Foamed milk']"
69,Alexander Harris,40,Male,123 Main St,Iced Coffee,2023-05-22,"['Coffee', 'Ice', 'Milk', 'Sweetener (optional)']"
70,Alexander Harris,40,Male,123 Main St,Espresso,2023-05-22,['Espresso']
71,Michael Martin,57,Male,789 Oak St,Caffè Americano,2023-05-24,"['Espresso', 'Hot water']"
72,Michael Martin,57,Male,789 Oak St,Mocha Frappuccino,2023-05-24,"['Coffee', 'Ice', 'Milk', 'Chocolate syrup', '..."

In [3]:
unique_drinks = data['product_name'].unique()
unique_ingredients = set()

In [4]:
for ingredients in data['ingredients']:
    unique_ingredients.update(eval(ingredients))

In [5]:
binary_vectors = {}

In [6]:
for drink in unique_drinks:
    drink_vector = np.zeros(len(unique_ingredients))
    ingredients = eval(data[data['product_name'] == drink]['ingredients'].values[0])
    for ingredient in ingredients:
        drink_vector[list(unique_ingredients).index(ingredient)] = 1
    binary_vectors[drink] = drink_vector

In [7]:
similarity_matrix = np.zeros((len(unique_drinks), len(unique_drinks)))

In [8]:
for i in range(len(unique_drinks)):
    for j in range(len(unique_drinks)):
        similarity_matrix[i, j] = cosine_similarity([binary_vectors[unique_drinks[i]]], [binary_vectors[unique_drinks[j]]])[0, 0]

In [9]:
def recommend_new_drink(drinks_list):
    drink_vectors = [binary_vectors[drink] for drink in drinks_list]
    avg_vector = np.mean(drink_vectors, axis=0)
    similarity_scores = cosine_similarity([avg_vector], list(binary_vectors.values()))[0]
    sorted_indices = np.argsort(similarity_scores)[::-1]
    recommended_drink = unique_drinks[sorted_indices]
    return recommended_drink[1:4]

In [10]:
# Test the recommendation system
drinks_list = ['Espresso']
recommended_drink = recommend_new_drink(drinks_list)

print(f"Recommended drink based on {drinks_list}: {recommended_drink}")

Recommended drink based on ['Espresso']: ['Caffè Americano' 'Cappuccino' 'Caramel Macchiato']

In [11]:
pickle.dump(binary_vectors, open('binary_vectors.pkl','wb'))
pickle.dump(unique_drinks, open('unique_drinks.pkl','wb'))

In [6]:
# Function to filter the DataFrame based on a person's name
def filter_dataframe_by_name(name):
    filtered_data= data[data['name'] == name]
    previously_ordered = filtered_data['product_name'].values
    print(previously_ordered)
# Get the input name from the user
input_name = "John Smith"

# Filter the DataFrame based on the input name
filtered_data = filter_dataframe_by_name(input_name)

# Print the filtered DataFrame
print(filtered_data)

['Cheese Danish' 'Espresso' 'Cappuccino' 'Mocha Frappuccino']
None

In [8]:
data['name'].unique()

array(['John Smith', 'Michael Brown', 'Emily Johnson', 'Emma Johnson',
       'Liam Smith', 'Olivia Davis', 'Noah Martinez', 'Ava Anderson',
       'Sophia Taylor', 'Isabella Clark', 'Mia Walker', 'Charlotte Baker',
       'Amelia Gonzalez', 'Harper Rodriguez', 'Evelyn Hernandez',
       'Abigail Lopez', 'William Wilson', 'James Moore',
       'Benjamin Jackson', 'Lucas Thompson', 'Henry Lee',
       'Alexander Harris', 'Michael Martin'], dtype=object)

In [9]:
pickle.dump(data, open('customer_data.pkl','wb'))